
.video__btn_play {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


	svg {
		transition: fill .3s;
		width: 100px;
		height: 100px;
		stroke: red;
		fill: transparent;

		&:hover {
			fill: #3ea6ff;
		}
	}

}


.video__controls {
	position: absolute;
	bottom: -6px;
	left: 0;
	right: 0;
	background-color: transparent;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;


}

.video__controls_block_left {
	display: flex;

}

.video__mini_play {


	svg {
		fill: #ffffff;

		width: 32px;
		height: 100%;
	}
}


.video__controls_volume {
	margin-left: 10px;
	display: flex;
	align-items: center;


	svg {
		fill: white;
		width: 32px;
		height: 100%;
		margin-right: 10px;
	}

	.input__volume {
		background-color: transparent;
		transition: all .2s;
		width: 0;
		opacity: 0;
		-webkit-appearance: none;

		--range: calc(var(--max) - var(--min));
		--ratio: calc((var(--value) - var(--min)) / var(--range));
		--sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));

		&::-webkit-slider-runnable-track {
			height: 5px;
			border: none;
			border-radius: 10px;
			background: rgba(0, 0, 0, 0.3);
			box-shadow: none;

		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 12px;
			height: 12px;
			border-radius: 1em;
			background: white;
			border: none;
			box-shadow: 0 0 2px black;
			//margin-top: calc(16px * 0.5 - 32px * 0.5);
			margin-top: -3.5px;
		}


	}


	&:hover {

		.input__volume {
			-webkit-appearance: none;
			opacity: 1;
			width: 90px;


		}
	}
}

.video__controls_progress {
	padding: 0 10px;
	position: absolute;
	bottom: 30px;
	width: 100%;
	z-index: 100;
}

.input__controls_progress {
	width: 100%;
	//background: red;
	//border-radius: 10px;
	//-webkit-appearance: none;
	//
	////--range: calc(var(--max) - var(--min));
	////--ratio: calc((var(--value) - var(--min)) / var(--range));
	////--sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
	//
	//&::-webkit-slider-runnable-track {
	//	height: 5px;
	//	border: none;
	//	border-radius: 10px;
	//	background: rgba(0, 0, 0, 0.3);
	//	box-shadow: none;
	//
	//}
	//
	//&::-webkit-slider-thumb {
	//	-webkit-appearance: none;
	//	width: 12px;
	//	height: 12px;
	//	border-radius: 1em;
	//	background: white;
	//	border: none;
	//	box-shadow: 0 0 2px black;
	//	//margin-top: calc(16px * 0.5 - 32px * 0.5);
	//	margin-top: -3.5px;
	//
	//
	//}
}

.controls__fullScreen {
	height: 100%;

	svg {
		height: 100%;
		width: 32px;
		fill: white;
	}
}



