.nav__item {
	display: flex;
	//align-items: center;
	padding: 8px 0 8px 24px;
	//justify-content: center;
	border-radius: 10px;

	&:hover {

		background: #303030;
	}



}

.nav__links {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

.nav__icons {
	display: inline-block;
	margin-right: 24px;
	padding-left: 0;
	img{
		//margin-left: 14px;
	}

	@media(max-width: 769px){
		img{
			width: 24px;
			height: 24px;

		}
	}

}
.title_nav{

	text-align: center;
	font-size: 8px;
	//margin-left: -14px;
}

@media(max-width: 769px) {
	.nav__icons {
		margin-right: 0;
		padding: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.nav__item {
		padding: 0 0 0 0;
		border-bottom: none;
	}
}