.nav__block{
  min-width: 240px;
  flex-shrink: 0;
  z-index: 99;
  height:calc(100vh - 56.39px);
}

.nav__list{
  display: flex;
  flex-direction: column;

}
.nav__tittle{
  color: #aaa;
  padding: 8px 24px;
  font-size: 18px;
  line-height: 2.8rem;
  font-weight: 600;
}



.nav__items{

  display: flex;
  align-items: center;
  padding: 6px 12px;
  margin: 0 12px;
  cursor: pointer;
  font-size: 16px;
  line-height: 2rem;
  font-weight: 500;
  color: #FFFFFF;
  &:hover {
    border-radius: 10px;
    background: #303030;
  }
}



