
.genres{
    width: 100%;
    overflow-y: hidden;
    text-align: center;
    border-top: 1px solid #303030;
    border-bottom: 1px solid #303030;
}


.genres__list{
    display:inline-block;
    padding: 12px 0;
}
.genres__items{
    display: flex;
    justify-content: center;
}

.genres__item{
    display: flex;
    background: #303030;
    border: 0.3px solid #AAAAAA;
    border-radius: 32px;
    padding: 8px 12px;
    white-space: nowrap;
   &:not(:last-child){
    margin-right: 12px;
   }


   cursor: pointer;

   
}

.genres__active {
    background-color: #ffffff;
    
    a {
        color: #030303;
    }
}

.genres__link{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
}

// @media (max-width:1120px){
   
//     .genres__item{
//        margin-top: 12px;
//     }
// }

