// .video__content{
//     width: 100%;
//     max-width: 1680px;
//     padding-top: 20px;
//     background-color: #121212;
// }

// .video__wrapper{
//     width: 100%;
// }

// .video__list{
//     width: 100%;
//     display: grid;
//     grid-template-columns: repeat(auto-fill,360px);
//     justify-content: center;
//     justify-items: center;
//     // gap: 15px;
//     // grid-row-gap: 15px;
//     grid-column-gap: 15px;
//     cursor: pointer;
    
// }

// на флексах если с гридами что то пойдет не так
//.video__content {
//    padding: 24px 0px;
//    background-color: #0f0f0f;
//}
//
//.video__list {
//    display: flex;
//    justify-content: center;
//    flex-wrap: wrap;
//}

.video__content{
    width: 100%;
    padding-top: 20px;
    background-color: #0f0f0f;
    //margin:0 10px;
}
.video__wrapper{
    width: 100%;
}
.video__list{
    width: 100%;
    display: grid;
    //grid-template-columns: repeat(auto-fill,360px);
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    padding: 0 20px;

    gap: 15px;


    //&_video_list_is_wide {
    //  display: grid;
    //  //grid-template-columns: repeat(auto-fill,343px);
    //  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    //
    //  margin-left: 40px;
    //  gap: 15px;
    //  cursor: pointer;
    //}
    //  @media (max-width: 1540px) {
    //    &{
    //      margin: 0 130px;
    //    }






}


 @media (max-width: 1415px) {
     .video__list {
         //grid-column-gap: 10px;
     }
 }

