{% extends "admin/base.html" %}
{% load static %}


{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div style="display:flex; align-items: center;">
	<h1 id="site-name"><a href="{% url 'admin:index' %}">MyYouTube Administration</a></h1>
	<h1 id="site-name"><a href="http://139.59.147.181/">LOSTI</a></h1>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}