.genres__item{
    background: #303030;
    border: 0.3px solid #AAAAAA;
    border-radius: 32px;
    padding: 8px 12px;
    
   &:not(:last-child){
    margin-right: 12px;
   }

   margin-top: 20px;
}

.genres__link{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
}