// video__item{
//     margin-bottom: 40px;
// }

.video__item {
    margin: 0px 20px 30px 20px;
    width: 360px;
    &_video_item_is_wide{
        width: 343px;
    }
}

.block__video{
    
    position: relative;
    width: 100%;
    
    & span{
        position: absolute;
        background-color: rgba(#000000, 0.7);
        font-weight: 400;
        font-size: 12px;
        border-radius: 5px;
        line-height: 12px;
        color: #f1f1f1;
        padding: 3px 4px;
        right: 7px;
        bottom:10px;


    }
     & video{
        height: 100%;
        width: inherit;
        border-radius: 15px;
    }
}

.video__info{
    display: flex;
    padding-top: 12px;
    padding-right: 22px;
}

.description{
    display: flex;
    flex-direction: column;
    
    
    & p{

    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #f1f1f1;
    margin-bottom: 6px;



    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;




    }
    & span{
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #AAAAAA;
        word-spacing: -3px;

    }
}

.channel{
    margin-right: 12px;
}


//@media (max-width: 1840px) {
//    .video__item {
//        width: 30%;
//    }
//}
//
//@media (max-width: 1440px) {
//    .video__item {
//        width: 40%;
//    }
//}

@media (max-width: 1120px) {
    .video__item {
        width: 100%;
    }
}

// @media (max-width: 1080px) {
//     .video__item {
//         width: 100%;
//     }
// }
