.item__info {

	padding: 15px 24px 16px 24px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color 0.3s;

	&:hover {
		background-color: rgba(87, 87, 87, 0.2);
	}

	&:not(:last-child) {
		border-bottom: 1px solid #303030;
	}

	cursor: pointer;


	@media(max-width: 480px) {
		padding: 8px;
	}


}

.title__person_info {
	letter-spacing: 1px;
	font-size: 16px;
	line-height: 1.4em;
	font-weight: 500;
	color: #FFFFFF;
	@media(max-width: 1025px) {
		font-size: 12px;
	}
	@media(max-width: 480px) {

		font-size: 8px;
	}
}

.person__description {
	width: 65%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	img{
		width: calc(24px + 2.5vw);
		height: calc(24px + 2.5vw);
		border-radius: 50%;

	}
	@media(max-width: 480px) {
		svg {
			width: 12px;
			height: 12px;
		}
		width: 55%;
	}

}

.person__info {
	letter-spacing: 1px;
	font-size: 16px;
	line-height: 1.4em;
	font-weight: 500;
	color: #aaaaaa;
	@media(max-width: 1025px) {
		font-size: 12px;
	}
	@media(max-width: 480px) {

		font-size: 8px;
	}
}
