
.block__video_wrapper {
	height: 100vh;
	width: 100%;
	display: block;

}

.block__video_player {
	width: 100%;
	height: 75vh;
	background-color: black;
	//padding: 20px;
	&:focus {
		outline: none;
	}
}


.block__video_info {
	display: flex;

	justify-content: space-evenly;

	padding-top: 10px;

}

.block__info_container {
	//margin-right: 40px;
	width: 60%;
}


.title__for_video {
	font-size: 20px;

	font-weight: 600;
	color: #f1f1f1;
	margin: 0;
	margin-bottom: 10px;


}

.name__chanel_subscribe_title {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 4px;
}

.quantity__subscribe {
	font-size: 12px;
	color: #aaa;
}

.userChanel_info {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.wrapper__logo_name {
	display: flex;
	align-items: center;

		img {
			object-fit: cover;
			width: calc(24px + 1.5vw);
			height: calc(24px + 1.5vw);
			border-radius: 50%;
		}

}

.channel__sub {
	display: flex;
	align-items: center;
	height: 32px;
}

.name__chanel_subscribe {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.btn__subscribe {

	outline: none;
	border: none;
	color: white;
	//padding: 8px 16px;
	height: 100%;
	width: 100%;
	border-radius: 18px;
	background-color: transparent;
	//font-size: 14px;
	//margin-right: 14px;
	//&:hover {
	//  background-color: rgba(0,0,0,0.2);
	//}
}

.btn__like {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	background-color: transparent;

	outline: none;
	border: 1px solid gray;
	border-radius: 18px 0 0 18px;
	padding: 3px 16px 3px 12px;

	&:hover {
		background-color: #565555;
	}
}

.btn__dislike {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	background-color: transparent;
	padding: 3px 10px 3px 6px;
	outline: none;
	border: 1px solid gray;
	border-radius: 0 18px 18px 0;
	border-left: none;

	&:hover {
		background-color: #565555;
	}


}


.wrapper__like_quantity {
	display: flex;
	align-items: center;
	color: #ffffff;
}


.block__description {
	width: 100%;
	border-radius: 12px;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 10px;
	margin-top: 12px;
}

.block__description_header {
	display: flex;
	align-items: center;
	margin-bottom: 16px;

}

.views {
	margin-right: 16px;
	font-size: 14px;
	color: #ffffff;
	//word-spacing: -3px;
}

.realise__date {
	font-size: 14px;
	color: #ffffff;
	//word-spacing: -3px;
}

.quantity__subscribe {
	//word-spacing: -3px;
}

.video__description {
	font-size: 14px;
	color: #ffffff;
}


.quantity__likes {
	margin-left: 10px;
}

.wrapper__bell__following {
	//border: 1px solid gray;
	border-radius: 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	outline: none;

	color: white;
	padding: 0 12px;
	height: 100%;
	font-size: 14px;
	margin-right: 14px;

	&:hover {
		background-color: rgba(0, 0, 0, 0.2);
	}

}

.bell_notification {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	outline: none;
	border: none;
	padding: 0;
	margin-left: 10px;
}

.wrappper__like__dis {
	display: flex;
}

@media (max-width: 1020px) {


	.block__video_info {
		flex-direction: column;
	}
	.block__info_container {
		width: 100%;
		padding: 0 10px;
	}


	.userChanel_info {
		flex-direction: column;
	}
	.channel__sub {
		margin-top: 15px;
		width: 100%;
		justify-content: space-evenly;
	}
	.title__for_video {
		text-align: center;
	}
	.wrapper__bell__following {
		margin: 0;
	}

}