.overlay {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 110;
    height: 100%;
    
}


.videoUpload {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 12px;

    width: 100%;
    max-width: 960px;
    max-height: 660px;
    min-height: 400px;
    background-color: #282828;

    @media (max-width: 769px) {
       width: 90%;

    }

}

.video {
    position: relative;

    &__title{
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;

        margin-right: 16px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
        font-size: 22px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }

    &__close {
        svg {
            width: 24px;
            height: 24px;
            cursor: pointer;
            fill: rgba(255,255,255,0.6);
            &:hover{
                fill: rgba(255,255,255,1)
            }

        }
    }

    &__main {
        padding: 130px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        //padding: 100px 0 0 0;

        @media (max-width: 769px) {
            padding:50px 0 100px 0;

        }
    }

    &__text{
        font-weight: 400;

        font-size: 15px;
        line-height: 24px;
        margin-top: 43px;
        @media (max-width: 769px) {
           text-align: center;
            font-size: 12px;
            margin-top: 20px;
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 50px;
        font-weight: 400;

        letter-spacing: 0.011em;
        font-size: 12px;

        color: #aaa;

        line-height: 16px;
        @media (max-width: 769px) {
            padding: 0;
            padding-bottom: 15px;
            font-size: 8px;

        }

    }
}
.block__input{
    display: flex;
    flex-direction: column;
    align-items: center;
    svg{
        transform: rotate(180deg);
        width:136px;
        height:136px;
        padding: 25px;
        background-color: rgba(0,0,0,0.3);
        border-radius: 50%;
        fill: rgba(255,255,255,0.6);
        cursor: pointer;
        @media (max-width: 769px) {

            width:100px;
            height:100px;
        }
    }


}

.input__file{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.btn__input{
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase ;
    overflow: hidden;
    display: block;
    padding: 8px 16px;
    margin: 26px 0 36px 0;
    color: rgba(0,0,0,0.8);
    border-radius: 4px;
    background-color: #3ea6ff;

    &:hover{
        background-color: rgba(62, 166, 255, 0.9);
    }
}

.formatVideo {
    //width: 500px;
    //height: 500px;
    padding: 20px;

}

.videoNameContent, .videoDescriptionContent {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.videoNameInfo, .videoDescriptionInfo {
    font-size: calc(14px + 0.6vw);
    color: #fff;
    margin-bottom: 20px;
}

.videoName, .videoDescription {
    //width: 860px;
    // width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: calc(10px + 0.2vw) calc(10px + 0.2vw);
    background-color: #282828;
    font-size: 16px;
    color: #fff;
    outline: none;
    transition: border .3s ease-in-out;

    &:hover {
        border: 1px solid rgb(180, 180, 180);
    }

    &:focus {
        border: 1px solid rgb(237, 172, 81);
    }
}

.selectContainer {
    position: relative;
    display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: 20px;
     width: 200px;
     height: 100px;
     background-color: #282828;
     border: 1px dashed gray;
     color: #fff;
    transition: background .3s ease-in-out;
    
     &:hover {
        background-color: #1f1f1f;
        cursor: pointer;
     }
}

.addPoster {
    margin-top: 20px;
    position: absolute;
    top: -20px;
    left: 0;
    bottom: 0;
    right: 0px;
    opacity: 0;
    cursor: pointer;
}

.sendBtn {
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    background-color: rgb(232, 180, 8);
    outline: none;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 14px;
    transition: background .3s ease-in-out;
    cursor: pointer;


    &:hover {
        background-color: rgb(241, 199, 64);
    }

    &:disabled {
        background-color: rgb(165, 133, 29);
    }
}

// .videoHeader {
//     width: 100%;
//     display: flex;
//     justify-content: end;
// }

.videoFormatClose {
    cursor: pointer;
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 20px;
}
