.subscription__item{
  display: flex;
  align-items: center;
  //margin-bottom: 20px;
  padding: 4px 24px;

  border-radius: 10px;
  cursor: pointer;

  img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  svg{
    margin-right: 10px;
  }

  p{
    max-width: 116px;
    color: #f1f1f1;
    font-size: 14px;
    line-height: 2rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  &:hover{
    background: #303030;
  }
}
